{% extends "base.html" %}
{% block title %} User Score {% endblock %}



{% block content %}



<h3><font size="6"> <font color="lightgreen"> Name: <font color="yellow">{{person}}, <font color="lightgreen">Score: <font color="yellow"> {{var}}</h3>

<p><font color="yellow"><font size="4">**<font color="#00CCCC">Enter this page only when you washed hands so that your score will increase by 1 everytime.</p>



{% endblock %}











<!-- 
<!DOCTYPE html>
<html>
<head>
	<title> Scored Data</title>
</head>
<body>
	
		<h3> Name: {{person}}, Score: {{var}}</h3>
    
</body>
</html> -->