<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="{{url_for('static', filename='styles/mycss.css')}}">


</head>
<body>

<div id="photo" style="text-align: left;">

  <span style="vertical-align:middle"><font size="5"><font color = "#006994">Please Click on  'Verify' for verification of your email !</span>
  
</div>

<div>
<a style = "background-color: #00CCCC;float: left;"href="https://handwashh.herokuapp.com/verifyemail" class="button" role="button"><font color="purple"> <font size="6"> Verify <font color="white"></a>

</div>
</body>
</html>