<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="{{url_for('static', filename='styles/mycss.css')}}">


</head>
<body>

<div id="photo" style="text-align: left;">

  <span style="vertical-align:middle"><font size="8">Stay Home Stay Safe!!</span>
  
  
</div>

<div id="image" style="text-align: left;">

  <span style="vertical-align:middle"><font size="6"><font color="magneta">Wash Hands Regularly with Soap/Sanitizer at least 20 Seconds to stay healthy... </span>
 
  
</div>

<p> <font color = "orange"> <font size ="4">Go to this Link and Start Handwashing: https://handwashh.herokuapp.com/ </p>

</body>
</html>