{% extends "base.html" %}
{% block title %} Home Page {% endblock %}




{% block content %}


<h1 style="color: cyan;"> Welcome to HandWash Notification(Email-Through) Service </h1>
<p style="color: orange;"> <font size="5"> ** <font color="yellow">Click Login <font color = "orange">to Register UserName and Email.</p>
<p style="color: orange;"><font size="5"> ** <font color = "yellow">Please Logout<font color="orange"> after the Registration.</p>
<p style="color: orange;"><font size="5"> ** From this Service, Email sent to you each <font color = "yellow">2 hour to notify for Hand Wash.</p>
<p style="color: orange;"> ** Click on <font color = "yellow">User Score <font color="orange"> icon to see your score(Number of times hand washed ).</p>	

<p style="color: orange;"> <font size="5">** User can <font color = "yellow">Quit <font color = "orange">from the service by Click On <font color = "yellow">Delete User icon.</p>	
<p style="color: orange;"><font size="5"> ** Always Wash Hands for atleast <font color = "yellow">20 seconds with Soap/Sanitizer </p>
<h2 style="color: lightpink;"> ** Stay Home Stay Safe :) </h2> 

{% endblock %}