{% extends "base.html" %}
{% block title %}user {% endblock %}

{% block content %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p> {{msg}} </p>
			{% endfor %}
		{% endif %}
	{% endwith %}

<p> Your Email </p>

<form action="#" method="POST">
	<input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
	<input type="submit" value="submit"/>

</form>	

<h3> Total Number of HandWash: </h3>
<p>


<a href="https://www.freecounterstat.com" title="free web counters"><img src="https://counter4.stat.ovh/private/freecounterstat.php?c=55rllbjuc9ztpqh3mm9zxpcask9f4np2" border="0" title="free web counters" alt="free web counters"></a>
</p>

{% endblock %}	